*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: .9vw; */
}
.container{
    /* padding: 10px; */
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    border-top: 2px solid rgb(255, 255, 255);
    transition: all ease-in-out 0.6s;
}

.nav-link:hover{
    color: #000000;
    border-top: 4px solid red;
    
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000000;
}
.sec1{
    position: relative;
    
}
.img{
    opacity: 0.8;
    filter: brightness(0.4);
}
.sec-sub{
    position: absolute;
    top: 30%;
    left: 300px;
    background-color: transparent;
    color: bisque;
    font-weight: 500;
    font-size: 2vw !important;
    
}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;


}
.mt{
    margin-top: 20px;
}
.poster-btn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 1px solid rgb(255, 0, 0);
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: red;
    color: aliceblue;
    border-radius: 8px;
}
.btn2{
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    color: aliceblue;
}.btn2:hover{
    background-color: #000000;
    transition: all ease-in-out 0.6s;
}
.sec2{
    text-align: center;
}
.hr1{
    background-color: red;
    width: 50px;
    margin: auto;
    height: 10px;
}
.card{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: stretch
    /* width: 100%; */
}
.card1 {
    
    transition: ease-in-out 0.3s;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
  }
  .card1:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card-text{
      margin-top: 10px;
      padding: 10px;
  }
.a3{
    color: #000000;
    transition: all ease-in-out 0.6s;
}
.a3:hover{
    color: #ff0000;
}
.sec4{
    display: flex;
    position: relative;

    /* justify-content: space-between; */
    padding: 30px;
}
.banner{
    font-size: 46px;
    top: 50px;
    left: 400px;
    padding: 20px;
    opacity: 0.8;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 60%;
}
.left-col{
    width: 65%;
    
}.sec4-img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 60px;
}
.ryt-col{
    align-self: center;
    width: 30%;
}
.hr2{
    background-color: red;
    width: 50px;
    /* margin: auto; */
    height: 10px;
}
.knwbtn{
    padding: 20px;
    border: 1px solid black;
    background-color: #ff0000;
    text-decoration: none;
    color: beige;
    font-weight: 500;
    border-radius: 10px;

}
.sec5{
    display: flex;
    background-color: #000000;
    justify-content: space-around;
}
.card2{
    color: white ;
    text-align:center;
}

