*{
    font-size: 1.8vw;
    /* background-image: url(img/circle.svg) ; */
    /* background-repeat: no-repeat; */
}
.container{
    background-color: #eee7e7;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
	.menu{
		width: 40%;
		margin: auto;
	}
  .navbar a {

    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #000;
  }
.Header{
    text-align: center;
}
.h1{
    text-shadow: 1px 1px #c7baba;
}
hr{
   border: 5px solid #8d5454;
}
@media only screen and (max-width: 800px) {
    *{
        font-size: 2.8vw;
        
    }
    .h1{
        text-shadow: 0px 0px #c7baba;
    }
    video{
        width: 250px;
    }
    input{
        width: 80%;
    }
}

.Ftech{
    list-style-type: upper-roman;
}
.Ftools{
    list-style-type: circle;
}

.Videocard{
    margin: auto;
    width: 40%;
    height: 11rem;
		text-align: center;
		transition: 0.5s ease-in-out ;
}
.Videocard:hover{
	box-shadow: 1px 1px 1px 1px #343030;
}
.Audiocard{
	margin: auto;
	width: 40%;
	height: 5rem;
	text-align: center;
	transition: 0.5s ease-in-out ;
}
.Audiocard:hover{
	box-shadow: 1px 1px 1px 1px #343030;
	
}
.ifrm{
	
	width: 60%;
	height: 17rem;
}
.img1{
    background-image: url("img/circle.svg");
    background-repeat: no-repeat;
    float:right;
    margin-top: 10%;
    margin-right: 20%;
}
.form-control{
    padding: 10px 15px;
    box-sizing: border-box;
    border: 10px solid #de5858;
    width: 50%;
    margin: auto;
    
}
 .input1{
    width: 100%;
}
.btn{
    margin: auto;
    width: 20%;
    padding: 10px;
}
.btn:hover button{
    background-color: #28b78a;

}
.btn button{
    background-color: #de5858;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}
.file{
    padding: 10px ;
    cursor: pointer;
    color: #965757;

}
table, th, td {
    cursor: pointer;
    border: 5px solid #b12b2b;
    /* border-collapse: collapse; */
    padding: 8px 8px 10px 10px;
    margin: auto;
    background-color: #c4cbca;
  }
input::placeholder{
    color: #c4cbca;

}
td {
    transition: 0.5s ease-in-out;
    padding: 20px;
}
td:hover{
    background-color: #28b78a;
}
th:hover{
    background-color: #28b78a;
}

.fclass{
    float: left;
    padding: 50px;
}