.bgtable{
    margin: auto;
    color: rgb(255, 255, 255);
    border: 2px solid #dc0000;

}

 tr,td,th,table{
    background-color: #ebe6e6;
    border: 2px solid #000000;
}
th{
    /* background-color: rgb(0, 0, 0); */
    border: 2px solid #ab3434;

}
.cl3{
    background-color: #900000;
}
.cl1{
    background-color: #ebe6e6;
}
.cl2{
    background-color: #000000 ;
}

.a2:link{
    color: rgb(114, 254, 0);
   }
   .a2:visited{
     color: #000000;
   }
   .a2:hover{
       color:#900000 ;
       font-weight: bold;
   }

   p:first-child{
       color: aqua;
   }
   input[type = "text"]:focus{
       background-color: aquamarine;

   }